<footer th:fragment="footer" class="footer py-3 my-4 border-top text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center">
        <img class="imgFooter" src="/img/email.svg" alt="email" style="max-width: 50%;">
        <p>info@JobsHubs.com.ar</p>
      </div>

      <div class="col-md-4 d-flex align-items-center">
        <img class="imgFooter" src="/img/whatsapp.svg" alt="whatsapp" style="max-width: 50%;">
        <p>+54 3764 619300</p>
      </div>

      <div class="col-md-4 d-flex align-items-center">
        <img class="imgFooter" src="/img/location.svg" alt="location" style="max-width: 50%;">
        <p>Posadas, Misiones</p>
      </div>
    </div>
  </div>
</footer>